:root {
    --selected: lightgrey;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#modal-holder {
    display: flex;
    flex-direction: column;
}

#save-btn {
    width: 10%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-modal-btn {
    position: fixed;
    top: 10%;
    right: 10%;
    border-radius: 50%;
}

#add-task {
    border-radius: 50%;
}

.task {
    width: 100%;
    height: 5vh;
    font-size: 0.5rem;
    transition: background-color 0.3s ease-out;
}

.task-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
    height: 5vh;
}

.task-expand-wrapper {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
}

.task-description {
    font: 0.2rem;
    color: green;
}

.button-wrapper button {
    width: 20%;
    height: 50%;
}

.button-wrapper {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.selected-task {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 15vh;
    transition: background-color 0.3s ease-out;
    border: 1px solid black;
    background-color: var(--selected);
}

.task:hover {
    background-color: var(--selected);
    cursor: pointer;
}

input[type="checkbox"]:checked + .task-info {
    text-decoration: line-through;
}

.task-info::before {
    content: '- ';
}

.task-checkbox {
    height: 2vh;
}

#task-holder {
    border: 1px solid black;
    height: 80vh;
    max-height: 80vh;
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#to-do-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    gap: 1vh;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.hidden {
    display: none;
}
